/*El import es para importar la fuente de la letra de google*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

header{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Lobster', cursive;
 font-size: 17px;
 
}
body{
   background-color:#e2ffff; 
}
header{
   background-color: #a1ecd9;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 100px;
   padding: 5px 10%;
}
/*este header.logo es para que cuando se pase el mouse por el logo se pueda clickear*/
.header .logo{
   cursor: pointer;
   margin-right:auto ;

}
.header .logo img{
   height: 100px;
   width: auto;
   /*Transition es para que la imagen se demore en agrandar*/
   transition: all 0.3s;
}
/*Este bloque es para que el logo se agrande cuando pasen por el*/
.header.logo img:hover{
   transform: scale(1,2);
}
.header .nav-links{
   list-style: none;
}
/*selecciono los elementos li para alinearlos de derecha a izquierda*/
.header .nav-links li{
   display: inline-block;
   padding: 0 20px;

}
.header .nav-links li:hover{
   transform: scale(1.1);

}
.header .nav-links a{
   font-size: 1000;
   color: #8268dd;
   text-decoration: none;
}
.header .nav-links li a:hover{
   color: #bd68dd;
}
.header .btn button{
   font-weight: 700;
   color: aliceblue;
   padding: 9px 25px;
   background-color: #8268dd;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease 0s;
}
.header .btn button:hover{
   background-color: #8268dd;
   color: #68dda1;
   transform: scale(1,1);
}


#footer{
    background-color: #a1ecd9;
    height: 200px;
    font-family: 'Lobster', cursive;
    font-size: 17px;
    
    
}
#letrasFooter{
    color: #8268dd;
}
/* estilos del formulario*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/*Caja del formulario*/
.formularioCrear{
   width: 400px;
   background: #a1ecd9;
   padding: 30px;
   margin: auto;
   margin-top: 100px;
   border-radius: 4px;
   color: #000;
   box-shadow: 7px 13px 37px #000;
   margin-bottom: 100px;
}
/*Letras del titulo del formulario*/
.formularioCrear h4{
   font-size: 22px;
   margin-bottom: 20px;
}
/*estilos de los inputs*/
.inputCrear{
   width: 100%;
   background: aliceblue;
   padding: 10px;
   border-radius: 4px;
   margin-bottom: 16px;
   border: 1px solid #a1ecd9;
}

.formularioCrear p{
   height: 40px;
   text-align: center;
   font-size: 18px;
}
/*Efectos de los links */
.formularioCrear a:hover{
   color: white;
   transform: scale(1,2);
}
#botonRegistrar{
   width: 100%;
   background-color: #bd68dd;
   border: none;
   padding: 12px;
   color: white;
   margin: 16px 0;
   font-size: 16px;
}
.header .logo {
	cursor: pointer;
	margin-right: auto;
}

.header .logo img {
	height: 100px;
	width: auto;
	transition: all 0.3s;
}

.header .logo img:hover {
	transform: scale(1.2);
}