@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
header{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lobster', cursive;
	font-size: 17px;
	
   }
   body{
	  background-color:#e2ffff;
	  display: flex;
	  flex-direction: column;
	  min-height: 100%;
   }
   header{
	  background-color: #a1ecd9;
	  display: flex;
	  justify-content: flex-end;
	  align-items: center;
	  height: 100px;
	  padding: 5px 10%;
   }
   /*este header.logo es para que cuando se pase el mouse por el logo se pueda clickear*/
   .header .logo{
	  cursor: pointer;
	  margin-right:auto ;
   
   }
   .header .logo img{
	  height: 100px;
	  width: auto;
	  /*Transition es para que la imagen se demore en agrandar*/
	  transition: all 0.3s;
   }
   /*Este bloque es para que el logo se agrande cuando pasen por el*/
   .header.logo img:hover{
	  transform: scale(1,2);
   }
   .header .nav-links{
	  list-style: none;
   }
   /*selecciono los elementos li para alinearlos de derecha a izquierda*/
   .header .nav-links li{
	  display: inline-block;
	  padding: 0 20px;
   
   }
   .header .nav-links li:hover{
	  transform: scale(1.1);
   
   }
   .header .nav-links a{
	  font-size: 1000;
	  color: #8268dd;
	  text-decoration: none;
   }
   .header .nav-links li a:hover{
	  color: #bd68dd;
   }
   .header .btn button{
	  font-weight: 700;
	  color: aliceblue;
	  padding: 9px 25px;
	  background-color: #8268dd;
	  border: none;
	  border-radius: 50px;
	  cursor: pointer;
	  transition: all 0.3s ease 0s;
   }
   .header .btn button:hover{
	  background-color: #8268dd;
	  color: #68dda1;
	  transform: scale(1,1);
   }
   #footer{
	   background-color: #a1ecd9;
	   height: 200px;
	   font-family: 'Lobster', cursive;
	   font-size: 17px;
	   margin-bottom: 0;
	   flex-shrink: 0;
	   padding: 20px;
	   width: 100%;
	   left: 0;
	   bottom: 0;
	   position: fixed;
   }
   #letrasFooter{
	   color: #8268dd;
   }
   .carouselExample{
	   height: 400px;
	   position: relative;
   }
   html, body {
	   height: 100%;
	 }
   .content {
	   flex: 1;
	 }
body {
	font-family: 'Lobster', cursive;
	background: #E5E5E5;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
    color: #8268dd;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #8268dd;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
#letrero{
    color: #8268dd;
}