<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/0ed743b37f.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--Estos links son para poder usar boostrap(CSS)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Version 1.0</title>
    <link rel="stylesheet" href="../static/estiloLogin.css">
</head>
<body>
    <div class="card">
        <div class="card_landing" style="--i:url(../static/src/tierra.jpg)">
            <h6>
                Sustrato tierra 
            </h6>
        </div>
        <div class="card_info">
            <p class="title">Sustrato tierra</p>
            <div class="descripcion">
                <div class="item">
                    
                </div>
                <div class="item">

                </div>
            </div>
        </div>

    </div>

</body>
</html>